#map {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
}

#map .leaflet-container {
    height: 100%;
    width: 100%;
}

#app {
    top: 10px;
    z-index:1;
    background: white;
    width:30%;
}
