#map {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

#map .leaflet-container {
    height: 100%;
    width: 100%;
}

#app {
    position: absolute;
    top: 0;
    right: 0;
    z-index:100;
    background: white;
    width:30%;
    max-width: 588px;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
}
